#request-email-password-recovery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5%;
}

#request-email-password-recovery-box {
    background-color: var(--roxo-claro);
    border-radius: 10px;
    width: 38%;
    min-width: 370px;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#request-email-password-recovery-box {
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--branco);
}

#request-email-password-recovery-user-symbolic-icon {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#enter {
    border: none;
    width: 50%;
    justify-content: center;
    display: inline-block;
    text-align: center;
    background-color: var(--branco);
    font-weight: 700;
    font-size: inherit;
    font-family: inherit;
    color: var(--roxo-escuro);
    min-height: 59px;
    border-radius: 15px;
    margin-bottom: 2rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: var(--preto);
}

#enter:hover {
    background-color: var(--roxo-escuro);
}

#recover-password-link {
    color: var(--branco);
    margin-bottom: 2%;
}

#recover-password-link:hover {
    color: var(--preto);
    transition: 300ms;
}

.password-form-container {
    display: flex;
    width: 55%;
    justify-content: right;
}

#request-email-password-recovery-password-form {
    padding-left: 9%;
    width: 100%;
}

#advise-text  {
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--branco);
}

.show-password {
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
    transform: translate(-40%,120%);
}

#popup{
    color: red;
}