#content-container {
    margin-top: clamp(47px, 8.4vh, 86px); /* Sair de baixo da barra de cabeçalho */
    display: flex;
    justify-content: center;
    background-color: var(--laranja);
    
}

#content-container-inner {
    height: fit-content;
    width: 55vw;
    min-width: 646px;

    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: var(--laranja);
}

#content-container div div {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--laranja);
}

#content-container div div * {
    border-style: none;
}

#profile-container {
    padding-bottom: 1rem;
    background-color: var(--pastel);
    align-items: center;
}

#profile-container * {
    margin-left: 5rem;
}

#profile-container p {
    color: var(--branco);
    line-height: 30%;
}

#profile-container .user-profile-picture {
    margin-top: 3rem;
}

#profile-container #user-name {
    margin-top: 1.5rem;
    font-size: larger;
    font-weight: 700;
}

#feed-container h1 {
    padding-left: 1rem;
    color: white;
}

#feed-container h1 {
    font-size: large;
}

.post {
    background-color: var(--pastel);
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    padding-top: 0.5rem;
    padding-left:1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.post-text-content {
    color: white;
    font-weight: 500;
    margin-left: 3.6rem;
}

.post-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-image-content {
    max-width: 80%;
}

.post-metadata {
    display: flex;
}

.post-metadata .post-author-name {
    margin-left: 0.6rem;
    font-weight: 700;
    color: white;
}

.post-metadata .post-date {
    font-weight: 500;
    color: #71767B;
}