#header-bar {
    display: flex;
    background-color: var(--laranja);
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: clamp(47px, 8.4vh, 100px);
    box-sizing: border-box;
    top: 0%;
    position: fixed;
    z-index: 10;
}

#header-logo-button {
    border: none;
    border-radius: 16px;
    font-weight: bold;
    padding-left: 1.65%;
    padding-right: 1.65%;
    padding-top: 4px;
    background: var(--branco);
}

.footer-bar{
    display: flex;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;

    height: clamp(47px, 8.4vh, 100px);

    background-color: var(--laranja);
    box-sizing: border-box;

    text-align: center;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 16px;
    font-weight: bold;
    padding: 12px 25px;
    text-decoration: none;
    color: var(--preto);
}

#session-buttons * {
    border: none;
    border-radius: 16px;
    font-weight: bold;
    padding: 12px 25px;
    text-decoration: none;
    color: var(--preto);
}

#signin-button {
    background: var(--branco);
    color: var(--preto);
}

#signup-button {
    background: var(--branco);
    color: var(--preto);
}