:root{

    --pastel:       #45113e;
    --laranja:      #2d0824;
    --preto:        #000000;
    --branco:       white;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Variable.ttf);
}

body
{
    background-color: var(--laranja);
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    min-width: var(--global-min-width);
    min-height: var(--global-min-height);
}

.form {
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    background-color: var(--branco);
    border: none;
    outline: none;
    min-height: 59px;
    border-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1rem;
    width: 45%;
    position: relative;
}

.form::placeholder {
    font-weight: 700;
    color: var(--preto);
    opacity: 0.7;
}