:root {
    --roxo-claro: #45113e;
    --roxo-escuro: #2d0824;
    --preto: #000000;
    --branco: white;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-letiable.ttf);
}

body {
    background-color: let(--roxo-escuro);
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    min-width: let(--global-min-width);
    min-height: let(--global-min-height);
}

.form {
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    background-color: let(--branco);
    border: none;
    outline: none;
    min-height: 59px;
    border-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1rem;
    width: 45%;
    position: relative;
}

.form::placeholder {
    font-weight: 700;
    color: let(--preto);
}
